<div class="main_container">
    <div class="container">
        <input (change)="handleFileInput($event)" type="file" accept="image/*" hidden id="post_file_upload_id">

        @if (authState == GetAuthState().register) {
        <label class="profile_photo_container" for="post_file_upload_id">
            @if (filePreview.length > 0) {
            <img [src]="filePreview" alt="Profile photo preview">
            } @else {
            <img src="assets/icons/person.svg" style="padding: 1rem; box-sizing: border-box;"
                alt="Profile photo preview">
            }
        </label>
        }

        <app-field [(field)]="username" placeholder="Username" />
        @if (authState == GetAuthState().register) {
        <span class="separator"></span>
        }
        <app-field [isPassword]="true" [(field)]="password" placeholder="Password" />

        @if (authState == GetAuthState().register) {
        <app-field [isPassword]="true" [(field)]="confirmPassword" placeholder="Confirm password" />
        }

        <!-- Buttons -->

        <app-loader [loading]="isLoading" />

        @if (authState == GetAuthState().login && !isLoading) {
        <app-auth-button (clickEvent)="login()" text="Login" />
        }

        @if (authState == GetAuthState().register && !isLoading) {
        @if (password != confirmPassword && password.length >= 0) {
        <app-auth-button [disabled]="true" text="Password do not match" />
        } @else if (!passwordRegex.test(password)) {
        <app-auth-button [disabled]="true" text="Password is not strong enough" />
        } @else {
        <app-auth-button [disabled]="false" (clickEvent)="register()" text="Create account" />
        }

        }

        <!-- Change state -->
        @if (authState == GetAuthState().login) {
        <div class="change_auth_state">
            <span>Don't have an account?</span>
            <button (click)="authState = GetAuthState().register">Sign up</button>
        </div>
        }

        @if (authState == GetAuthState().register) {
        <div class="change_auth_state">
            <span>Already have an account?</span>
            <button (click)="authState = GetAuthState().login">Sign in</button>
        </div>
        }
    </div>
</div>