<app-center-container>
    <app-header />
    <span class="separator"></span>
    <span>Hi, I'm AsciiCrawler. I built this site (still under construction) primarily to practice AWS and Terraform-related tasks. The front end is built with Angular.</span>
    <span>You can find the repositories at the following links:</span>
    <a target="_blank" href="https://github.com/AsciiCrawler/microblog-angular">Angular repo</a>
    <a target="_blank" href="https://github.com/AsciiCrawler/microblog-terraform">Terraform repo</a>

    <span>You can visit my main site here:</span>
    <a target="_blank" href="http://asciicrawler.com">AsciiCrawler.com</a>
    
    <span>And my LinkedIn:</span>
    <a target="_blank" href="https://www.linkedin.com/in/alfredotorresvelarde/">Linkedin</a>
</app-center-container>